/* ========================
 table of contents
===========================
1. Left Section ==> Buttons
2. Right Section ==> Card
3- Responsive Design (media query)*/
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300;400;600;700;900&display=swap");

main.flex {
  gap: 2rem;
  align-items: start;
}
.myproject {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  line-height: 3.3rem;
  margin: 24px auto; /* auto لتوسيط العنصر */
  color: var(--subtitle);
  font-family: "Alan Sans", sans-serif;
  padding: 0.5rem 1rem;
  z-index: 1;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.myproject::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 2.3em;
  background: rgba(0, 198, 255, 0.2);
  z-index: -1;
  border-radius: 40%;
  filter: blur(15px);
}
.myproject span {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===============================
   1. Left Section ==> Buttons
================================== */
main section.left-section.flex {
  flex-direction: column;
  gap: 10px;
}

main section.left-section.flex button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.3s;
}

main section.left-section.flex button:hover {
  opacity: 1;
}

main section.left-section.flex button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  padding: 0.8rem 0;
  border: 1px solid var(--blue);
}

.light main section.left-section.flex button.active {
  border: 1px solid #000;
}

/* ===============================
   2. Right Section ==> Card
================================== */
::-webkit-scrollbar-button {
  display: none;
}

main section.right-section.flex {
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 2rem;
  
  scroll-behavior: smooth;
  padding-right: 5px;
}
/* Chrome, Safari, Opera */
main section.right-section.flex::-webkit-scrollbar {
  width: 8px; /* سمك السكروول */
}
main section.right-section.flex::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
main section.right-section.flex::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00c6ff, #0072ff);
  border-radius: 5px;
}
main section.right-section.flex::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0072ff, #00c6ff);
}

/* Firefox */
main section.right-section.flex {
  scrollbar-color: #00c6ff rgba(0, 0, 0, 0.05);
}

/* ==================== Card Styles =================== */
.card {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(93, 188, 252, 0.3);
  border-radius: 5px;
  transition: 0.3s;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}

.light .card,
.light .card:hover {
  border: none;
}

.card:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
  cursor: pointer;
}

.card img {
  border-radius: 5px;
}

.card .box {
  padding: 1rem 0.4rem;
}

.card .box .title {
  color: var(--title);
  text-transform: capitalize;
  font-size: 1rem;
}

.card .box .sub-title {
  color: var(--subtitle);
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 1.1rem;
}

.card .box .icons {
  justify-content: space-between;
}

.card .icon-github,
.card .icon-link {
  font-size: 1.2rem;
  color: var(--subtitle);
  transition: 0.3s;
}

.card .icon-github:hover,
.card .icon-link:hover {
  color: var(--icon-hover);
  cursor: pointer;
  scale: 1.1;
}

.card a.link {
  font-size: 0.9rem;
  color: var(--blue);
  margin-right: 12px;
}

/* =====================================
  3- Responsive Design (media query)
======================================== */
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    gap: 2.64rem;
    align-items: center;
  }

  main section.left-section.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  main section.left-section.flex button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
}
