.myskills {
  position: relative;
  display: block;
  text-align: center;
  margin: 2rem auto;
  font-size: 2rem;
  color: var(--subtitle);
  padding: 0.5rem 1rem;
  font-family: "Alan Sans", sans-serif;
  width: fit-content;
  z-index: 1;
}

.myskills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 198, 255, 0.2);
  z-index: -1;
  border-radius: 50%;
  filter: blur(15px);
  transform: scale(1.4);
}

.myskills span {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillsSwiper {
  padding: 2rem 4rem;
  min-height: 350px;
  box-sizing: border-box;
}

.skill-card {
  width: 90%;
  max-width: 350px;
  min-height: 300px;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  color: var(--subtitle);
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0.3rem;
  margin: 0 auto;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.6s ease;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(93, 188, 252, 0.3);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  position: relative;
  overflow: hidden;
}

.skill-card:hover {
  box-shadow: 0px 10px 25px rgba(0, 114, 255, 0.25);
}

.card-number {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  pointer-events: none;
  user-select: none;
  font-family: "Alan Sans", sans-serif;
  background-color: #0072ff;
  border-radius: 50%;
  padding: 0.1rem 0.6rem;
}

.skill-icon {
  width: 75px;
  height: 75px;
  margin: 1.2rem auto 0.3rem auto;
  z-index: 2;
}

.skill-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  color: var(--title);
  margin-top: 1rem;
  z-index: 2;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.custom-prev,
.custom-next {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.custom-prev:hover,
.custom-next:hover {
  background: #0072ff;
}

.skill-card p {
  font-size: 0.85rem;
  line-height: 1.3;
  color: var(--subtitle);
  margin-top: 1rem;
  padding: 0 0.5rem;
  z-index: 2;
}

@media (max-width: 1024px) {
  .skillsSwiper {
    padding: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .skillsSwiper {
    padding: 2rem 1rem;
  }
}
